/* <<<<<<< HEAD
======= */
#bodyID{
	background-color: #eaeaea;
	text-align: center;
}
/*###########################################################Navigation bar css ####################################################*/

#title .color{
	background-color: #222831;
}

/*#####################################################################Profile content css ######################################################## */
#done{
  border:1px;
	background-color: #fafafa;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	/* background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}

#done .profileImg{
	 border-radius: 50%;
}


/* #################################################################### Content Css section####################################################### */

#done_2{
	padding-top: 20px;
	padding-bottom: 20px;
}



#hr{
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 3px;
}


/* <<<<<<< HEAD */

#title .color{
	background-color: #222831;
}


/* #######################################################################################################   navee section    #################################################################################### */


#navee{
  margin-left:125px;
  margin-right: 125px;
}

#navee .colore{
  background-color: #f9f3f3;
}

#navee .colore2{
	background-color: #fafafa;
}

#navee .naveePadding{
	padding-top: 20px;
}





/* =======
>>>>>>> 5d191bbae35bc9e8496a242cfb91f8b1ad381bca */
/* >>>>>>> e405f853e9d48504f06f0eacb29ab93c8c0ff23c */
