/* <<<<<<< HEAD
======= */
#bodyID{
	background-color: #eaeaea;
	text-align: center;
}


#done{
  border:1px;
	background-color: #fafafa;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	/* background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}


#done_2{
	padding-top: 20px;
	padding-bottom: 20px;
}

#done .profileImg{
	 border-radius: 50%;
}

#hr{
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 3px;
}



#title .color{
	background-color: #222831;
}
/* >>>>>>> e405f853e9d48504f06f0eacb29ab93c8c0ff23c */
