/* <<<<<<< HEAD
======= */
#bodyID{
	background-color: #eaeaea;
	text-align: center;
}

/*###########################################################Navigation bar css ####################################################*/

#title .color{
	background-color: #222831;
}

/*#####################################################################Profile content css ######################################################## */
#done{
  border:1px;
	background-color: #fafafa;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 20px;
	/* background-image: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"); */
}

#done .profileImg{
	 border-radius: 50%;
}


/* #################################################################### Content Css section####################################################### */

#done_2{
	padding-top: 20px;
	padding-bottom: 20px;
}



#hr{
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-width: 3px;
}


/* <<<<<<< HEAD */

#title .color{
	background-color: #222831;
}


/* #######################################################################################################   navee section    #################################################################################### */


#navee{
  margin-left:125px;
  margin-right: 125px;
}

#navee .colore{
  background-color: #f9f3f3;
}

#navee .colore2{
	background-color: #fafafa;
}

#navee .naveePadding{
	padding-top: 20px;
}


#footer .padding{
	margin-top: 20px;
}



/* ################################################################################################################video section ##################################################################*/

#form .ShortVideo{
	width: 540px;
	height: 260px;
}
/* #################################################################################################################### testimonial ####################################################################### */

#testimonial{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #dddddd;
	margin-left: 200px;
	margin-right: 200px;

}

#testimonial .testimonialImage{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
}

#testimonial .testimonialColor{
	background-color: #dddddd;
}

#testimonial .testimonialCentre{
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;

}

/* #################################################################### Registration Form CSS ################################################################# */

#RegistrationbodyID{
	background-color: #caf7e3;
}

.headingtext{
	text-align: center;
}

#form .button{
	text-align: center;
}

#form .formColor{
	background-color: #282846;
}

#form{
	margin-top: 20px;
}

#form .postionForm{
	margin-top: 20px;
	margin-bottom: 20px;
}







/* =======
>>>>>>> 5d191bbae35bc9e8496a242cfb91f8b1ad381bca */
/* >>>>>>> e405f853e9d48504f06f0eacb29ab93c8c0ff23c */
